In [1046]:
import pandas as pd
import re

In [1047]:
pd.set_option('display.max_columns', 500)

In [1188]:
kc = pd.read_csv('../data/Kenya Customers.csv')
kd = pd.read_csv('../data/Kenya Deliveries.csv', low_memory = False)
ko = pd.read_csv('../data/Kenya Orders.csv')
nc = pd.read_csv('../data/Nigeria Customers.csv')
nd = pd.read_csv('../data/Nigeria Deliveries.csv', low_memory = False)
no = pd.read_csv('../data/Nigeria Orders.csv')

In [1049]:
kc.head()

,Customer ID,Last Used Platform,Is Blocked,Created At,Language,Outstanding Amount,Loyalty Points,Number of employees,Upload restuarant location
0,3144837,WEB,0,2021-03-15T17:13:19.000Z,en,0,0,NaN,NaN
1,3174590,WEB,0,2021-03-20T14:15:11.000Z,en,0,0,NaN,NaN
2,3181998,WEB,0,2021-03-21T15:36:51.000Z,en,0,0,NaN,NaN
3,3191244,WEB,0,2021-03-23T08:54:00.000Z,en,0,367,NaN,NaN
4,3274222,WEB,0,2021-04-06T13:52:39.000Z,en,0,0,NaN,NaN

In [1050]:
kd.head()

,Task_ID,Order_ID,Relationship,Team_Name,Task_Type,Notes,Agent_ID,Agent_Name,Distance(m),Total_Time_Taken(min),Pick_up_From,Start_Before,Complete_Before,Completion_Time,Task_Status,Ref_Images,Rating,Review,Latitude,Longitude,Tags,Promo_Applied,Custom_Template_ID,Task_Details_QTY,Task_Details_AMOUNT,Special_Instructions,Tip,Delivery_Charges,Discount,Subtotal,Payment_Type,Task_Category,Earning,Pricing,Unnamed: 34,Unnamed: 35
0,368110390,"YR-11265216,0",3.681104e+29,Default Team,Delivery,NaN,-,-,-,-,Topup Mama,17 Feb 2022 04:48:44 pm,18 Feb 2022 11:00:00 am,-,Unassigned,-,0,-,-1.2664883,36.834632,NaN,-,Order_Details,1,KSh 4400.00,-,-,-,-,-,-,-,-,-,NaN,NaN
1,368110390,"YR-11265216,0",3.681104e+29,Default Team,Delivery,NaN,-,-,-,-,Topup Mama,17 Feb 2022 04:48:44 pm,18 Feb 2022 11:00:00 am,-,Unassigned,-,0,-,-1.2664883,36.834632,NaN,-,Order_Details,12,KSh 300.00,-,KSh 0.00,KSh 0.00,KSh 0.00,4700,CASH,-,-,-,NaN,NaN
2,368109621,"YR-11265175,0",3.681096e+29,Default Team,Delivery,NaN,-,-,-,-,Topup Mama,17 Feb 2022 04:46:43 pm,18 Feb 2022 08:00:00 am,-,Unassigned,-,0,-,-1.25,36.883330,NaN,-,Order_Details,10,KSh 19900.00,-,KSh 0.00,KSh 0.00,KSh 400.00,19500,CASH,-,-,-,NaN,NaN
3,368105817,"YR-11265015,0",3.681058e+29,Default Team,Delivery,NaN,-,-,-,-,Topup Mama,17 Feb 2022 04:37:16 pm,18 Feb 2022 08:00:00 am,-,Unassigned,-,0,-,-1.28354,36.887286,NaN,-,Order_Details,1,KSh 4400.00,-,KSh 0.00,KSh 0.00,KSh 50.00,4350,CASH,-,-,-,NaN,NaN
4,368098308,"YR-11264651,0",3.680983e+29,Default Team,Delivery,Urgently deliver by 9.30am in the morning,-,-,-,-,Topup Mama,17 Feb 2022 04:19:53 pm,18 Feb 2022 09:00:00 am,-,Unassigned,-,0,-,-1.282722,36.743347,NaN,-,Order_Details,1,KSh 180.00,-,-,-,-,-,-,-,-,-,NaN,NaN

In [1051]:
ko.head(4)

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Transaction Status,Promo Code,Customer ID,Merchant ID,Store Name,Pickup Address,Description,Distance (in km),Order Time,Pickup Time,Delivery Time,Ratings,Reviews,Merchant Earning,Commission Amount,Commission Payout Status,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Cancellation Reason,Flat Discount,Checkout Template Name,Checkout Template Value
0,11265015,ORDERED,Cooking Fat & Oil,KKCO0487,NaN,NaN,1,4400,4250,4250,4400,4350.0,4400,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,3755460,893555,Topup Mama,"Kilimani, Nairobi, Kenya",NaN,10.90,2022-02-17T16:36:27.000Z,2022-02-17T16:37:16.000Z,2022-02-18T08:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,50,-,NaN,0,-,-
1,11264651,ORDERED,Cleaning & Hygiene,KKPT280100,NaN,NaN,1,180,130,130,180,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
2,11264651,ORDERED,Flour & Sugar,KKFS0702,NaN,NaN,6,263,247,1482,1578,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
3,11264651,ORDERED,Salt & Seasoning,KKSS0002,NaN,NaN,10,65,58,580,650,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-

In [1052]:
nc

,Customer ID,Last Used Platform,Is Blocked,Created At,Language,Outstanding Amount,Loyalty Points,Number of Employees
0,3922702,WEB,0,2021-07-12T08:06:47.000Z,en,0,0,NaN
1,4058001,WEB,0,2021-08-05T08:22:35.000Z,en,0,0,NaN
2,4058334,WEB,0,2021-08-05T09:38:09.000Z,en,0,0,NaN
3,4058414,WEB,0,2021-08-05T09:56:57.000Z,en,0,0,NaN
4,4058431,WEB,0,2021-08-05T09:59:51.000Z,en,0,0,NaN
...,...,...,...,...,...,...,...,...
1090,5161258,WEB,0,2022-02-11T07:11:38.000Z,en,0,0,4.0
1091,5166213,WEB,0,2022-02-12T08:45:47.000Z,en,0,0,5.0
1092,5176040,WEB,0,2022-02-14T11:23:01.000Z,en,0,42,2.0
1093,5184379,WEB,0,2022-02-16T09:59:58.000Z,en,0,0,2.0
1094,5186649,WEB,0,2022-02-16T21:37:04.000Z,en,0,0,3.0

In [1053]:
nd.head()

,Task_ID,Order_ID,Relationship,Team_Name,Task_Type,Notes,Agent_ID,Distance(m),Total_Time_Taken(min),Pick_up_From,Start_Before,Complete_Before,Completion_Time,Task_Status,Ref_Images,Rating,Review,Latitude,Longitude,Tags,Promo_Applied,Custom_Template_ID,Task_Details_QTY,Task_Details_AMOUNT,Special_Instructions,Tip,Delivery_Charges,Discount,Subtotal,Payment_Type,Task_Category,Earning,Pricing
0,368032956,"YR-11262518,0",3.680330e+29,Default Team,Delivery,NaN,1150142,-,-,Topup Mama,17 Feb 2022 12:04:02 pm,17 Feb 2022 02:30:00 pm,-,Assigned,-,0,-,6.544412,3.401738,NaN,-,Order_Details,5,₦ 104250.00,-,-,-,-,-,-,-,-,-
1,368032956,"YR-11262518,0",3.680330e+29,Default Team,Delivery,NaN,1150142,-,-,Topup Mama,17 Feb 2022 12:04:02 pm,17 Feb 2022 02:30:00 pm,-,Assigned,-,0,-,6.544412,3.401738,NaN,-,Order_Details,1,₦ 325.00,-,₦ 0.00,₦ 0.00,₦ 0.00,104575,CASH,-,-,-
2,368012178,"YR-11261796,0",3.680122e+29,Default Team,Delivery,NaN,1166840,11,-,Topup Mama,17 Feb 2022 11:10:30 am,17 Feb 2022 02:00:00 pm,-,In Transit,-,0,-,6.555800,3.392317,NaN,-,Order_Details,5,₦ 104250.00,-,-,-,-,-,-,-,-,-
3,368012178,"YR-11261796,0",3.680122e+29,Default Team,Delivery,NaN,1166840,11,-,Topup Mama,17 Feb 2022 11:10:30 am,17 Feb 2022 02:00:00 pm,-,In Transit,-,0,-,6.555800,3.392317,NaN,-,Order_Details,1,₦ 325.00,-,₦ 0.00,₦ 0.00,₦ 0.00,104575,CASH,-,-,-
4,367999205,"YR-11261341,0",3.679992e+29,Default Team,Delivery,NaN,1233220,-,-,Topup Mama,17 Feb 2022 10:33:11 am,17 Feb 2022 02:30:00 pm,-,Assigned,-,0,-,6.481961,3.347986,NaN,-,Order_Details,6,₦ 1950.00,-,-,-,-,-,-,-,-,-

In [1054]:
no.head()

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Transaction Status,Promo Code,Customer ID,Merchant ID,Store Name,Pickup Address,Description,Distance (in km),Order Time,Pickup Time,Delivery Time,Ratings,Reviews,Merchant Earning,Commission Amount,Commission Payout Status,Order Preparation Time,Redeemed Loyalty Points,Consumed Loyalty Points,Cancellation Reason,Flat Discount,Checkout Template Name,Checkout Template Value
0,11262518,ORDERED,Flour & Sugar,KNFS0001,NaN,NaN,5,20850,20370,101850,104250,104575.0,104575,-,-,-,-,0,CASH,-,-,0,₦,NaN,NaN,4645484,1048159,Topup Mama,-,NaN,11996.01,2022-02-17T12:03:13.000Z,2022-02-17T12:04:02.000Z,2022-02-17T13:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,NaN,0,-,-
1,11262518,ORDERED,Spreads,KNSP2001,NaN,NaN,1,325,300,300,325,104575.0,104575,-,-,-,-,0,CASH,-,-,0,₦,NaN,NaN,4645484,1048159,Topup Mama,-,NaN,11996.01,2022-02-17T12:03:13.000Z,2022-02-17T12:04:02.000Z,2022-02-17T13:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,NaN,0,-,-
2,11261796,DISPATCHED,Flour & Sugar,KNFS0001,NaN,NaN,5,20850,20370,101850,104250,104575.0,104575,-,-,-,-,0,CASH,-,-,0,₦,NaN,NaN,4420776,1048159,Topup Mama,-,NaN,11994.38,2022-02-17T11:09:43.000Z,2022-02-17T11:10:30.000Z,2022-02-17T13:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,NaN,0,-,-
3,11261796,DISPATCHED,Spreads,KNSP2001,NaN,NaN,1,325,300,300,325,104575.0,104575,-,-,-,-,0,CASH,-,-,0,₦,NaN,NaN,4420776,1048159,Topup Mama,-,NaN,11994.38,2022-02-17T11:09:43.000Z,2022-02-17T11:10:30.000Z,2022-02-17T13:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,NaN,0,-,-
4,11261341,ORDERED,Spreads,KNSP2001,NaN,NaN,6,325,300,1800,1950,87550.0,87550,-,-,-,-,0,CASH,-,-,0,₦,NaN,NaN,5156201,1048159,Topup Mama,-,NaN,11998.28,2022-02-17T10:32:23.000Z,2022-02-17T10:33:11.000Z,2022-02-17T11:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,NaN,0,-,-

In [1055]:
no.columns

Index(['Order ID', 'Order Status', 'Category Name', 'SKU',
       'Customization Group', 'Customization Option', 'Quantity', 'Unit Price',
       'Cost Price', 'Total Cost Price', 'Total Price', 'Order Total',
       'Sub Total', 'Tax', 'Delivery Charge', 'Tip', 'Discount',
       'Remaining Balance', 'Payment Method', 'Additional Charge',
       'Taxable Amount', 'Transaction ID', 'Currency Symbol',
       'Transaction Status', 'Promo Code', 'Customer ID', 'Merchant ID',
       'Store Name', 'Pickup Address', 'Description', 'Distance (in km)',
       'Order Time', 'Pickup Time', 'Delivery Time', 'Ratings', 'Reviews',
       'Merchant Earning', 'Commission Amount', 'Commission Payout Status',
       'Order Preparation Time', 'Redeemed Loyalty Points',
       'Consumed Loyalty Points', 'Cancellation Reason', 'Flat Discount',
       'Checkout Template Name', 'Checkout Template Value'],
      dtype='object')

In [1056]:
mv= ['missing_values']

In [1057]:
nc.shape

(1095, 8)

In [1058]:
ncm = pd.DataFrame(nc.isnull().sum().sort_values(ascending = False)
                   , columns = mv)
ncm

                     missing_values
Number of Employees             490
Customer ID                       0
Last Used Platform                0
Is Blocked                        0
Created At                        0
Language                          0
Outstanding Amount                0
Loyalty Points                    0

In [1059]:
kc.shape

(4177, 9)

In [1060]:
kcm = pd.DataFrame(kc.isnull().sum()
                   .sort_values(ascending = False)
                   , columns = mv)
kcm

                            missing_values
Upload restuarant location            4158
Number of employees                   1038
Customer ID                              0
Last Used Platform                       0
Is Blocked                               0
Created At                               0
Language                                 0
Outstanding Amount                       0
Loyalty Points                           0

In [1061]:
nd.shape

(8019, 33)

In [1062]:
ndm = pd.DataFrame(nd.isnull()
                   .sum().
                   sort_values(ascending = False),
                   columns = mv).head(7)
ndm

                    missing_values
Tags                          8019
Notes                         8012
Review                           8
Tip                              0
Promo_Applied                    0
Custom_Template_ID               0
Task_Details_QTY                 0

In [1063]:
kd.shape

(44983, 36)

In [1064]:
kdm = pd.DataFrame(kd.isnull()
                   .sum()
                   .sort_values(ascending = False)
                   , columns = mv).head(8)
kdm

               missing_values
Unnamed: 35             44944
Unnamed: 34             44874
Tags                    44873
Notes                   31110
Promo_Applied             109
Review                     17
Pricing                     0
Earning                     0

In [1065]:
no.shape

(1429, 46)

In [1066]:
nom = pd.DataFrame(no.isnull()
                   .sum()
                   .sort_values(ascending = False)
                   , columns = mv).head(15)
nom

                          missing_values
Transaction Status                  1429
Commission Payout Status            1429
Description                         1429
Ratings                             1429
Reviews                             1429
Promo Code                          1429
Commission Amount                   1429
Merchant Earning                    1429
Cancellation Reason                 1429
Customization Option                1429
Customization Group                 1429
Redeemed Loyalty Points                0
Order Preparation Time                 0
Consumed Loyalty Points                0
Flat Discount                          0

In [1067]:
ko.shape

(12242, 47)

In [1068]:
kom = pd.DataFrame(ko.isnull()
                   .sum()
                   .sort_values(ascending = False)
                   ,columns = mv).head(15)
kom

                          missing_values
Transaction Status                 12242
Cancellation Reason                12242
Promo Code                         12242
Merchant Earning                   12242
Commission Amount                  12242
Commission Payout Status           12242
Customization Option               12242
Customization Group                12242
Reviews                            12229
Ratings                            12210
Description                         7073
Category Name                          6
SKU                                    3
Delivery Time                          0
Pickup Address                         0

In [1251]:
dfx = pd.concat([kc, kd, ko, nc, nd, no], axis = 0)
dfx

,Customer ID,Last Used Platform,Is Blocked,Created At,Language,Outstanding Amount,Loyalty Points,Number of employees,Upload restuarant location,Task_ID,Order_ID,Relationship,Team_Name,Task_Type,Notes,Agent_ID,Agent_Name,Distance(m),Total_Time_Taken(min),Pick_up_From,Start_Before,Complete_Before,Completion_Time,Task_Status,Ref_Images,Rating,Review,Latitude,Longitude,Tags,Promo_Applied,Custom_Template_ID,Task_Details_QTY,Task_Details_AMOUNT,Special_Instructions,Tip,Delivery_Charges,Discount,Subtotal,Payment_Type,Task_Category,Earning,Pricing,Unnamed: 34,Unnamed: 35,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Transaction Status,Promo Code,Merchant ID,Store Name,Pickup Address,Description,Distance (in km),Order Time,Pickup Time,Delivery Time,Ratings,Reviews,Merchant Earning,Commission Amount,Commission Payout Status,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Cancellation Reason,Flat Discount,Checkout Template Name,Checkout Template Value,Number of Employees
0,3144837.0,WEB,0.0,2021-03-15T17:13:19.000Z,en,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3174590.0,WEB,0.0,2021-03-20T14:15:11.000Z,en,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3181998.0,WEB,0.0,2021-03-21T15:36:51.000Z,en,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3191244.0,WEB,0.0,2021-03-23T08:54:00.000Z,en,0.0,367.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3274222.0,WEB,0.0,2021-04-06T13:52:39.000Z,en,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424,4588145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10422797.0,COMPLETED,Beverages,KNBE0002,NaN,NaN,2.0,6600.0,6000,12000,13200.0,71900.0,71900.0,-,-,0.0,CASH,-,-,0.0,₦,NaN,NaN,1048159.0,Topup Mama,-,NaN,12006.82,2022-01-03T08:46:15.000Z,2022-01-03T08:44:22.000Z,2022-01-03T15:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0.0,NaN,-,143,NaN,0.0,-,-,NaN
1425,4588145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10422797.0,COMPLETED,Beverages,KNBE0001,NaN,NaN,2.0,6600.0,6000,12000,13200.0,71900.0,71900.0,-,-,0.0,CASH,-,-,0.0,₦,NaN,NaN,1048159.0,Topup Mama,-,NaN,12006.82,2022-01-03T08:46:15.000Z,2022-01-03T08:44:22.000Z,2022-01-03T15:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0.0,NaN,-,143,NaN,0.0,-,-,NaN
1426,4489331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10422634.0,COMPLETED,Flour & Sugar,KNFS0001,NaN,NaN,10.0,21050.0,20420,204200,210500.0,210500.0,210500.0,-,-,0.0,CASH,-,-,0.0,₦,NaN,NaN,1048159.0,Topup Mama,-,NaN,11994.66,2022-01-03T08:30:22.000Z,2022-01-03T08:31:05.000Z,2022-01-03T11:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0.0,NaN,-,421,NaN,0.0,-,-,NaN
1427,4563897.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10422279.0,COMPLETED,Flour & Sugar,KNFS0001,NaN,NaN,5.0,21050.0,20420,102100,105250.0,105250.0,105250.0,-,-,0.0,CASH,-,-,0.0,₦,NaN,NaN,1048159.0,Topup Mama,-,NaN,11994.79,2022-01-03T07:54:44.000Z,2022-01-03T07:55:26.000Z,2022-01-03T11:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0.0,NaN,-,210,NaN,0.0,-,-,NaN
1428,4199326.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10416692.0,COMPLETED,Flour & Sugar,KNFS0001,NaN,NaN,1.0,21050.0,20420,20420,21050.0,21050.0,21050.0,-,-,0.0,CASH,-,-,0.0,₦,NaN,NaN,1048159.0,Topup Mama,-,NaN,11995.30,2022-01-02T21:09:53.000Z,2022-01-02T21:08:01.000Z,2022-01-03T11:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0.0,NaN,-,42,NaN,0.0,-,-,NaN

In [1252]:
dfx.to_csv('merged_file.csv')

In [1070]:
dfx.shape

(71945, 90)

In [1071]:
dfxm = pd.DataFrame(dfx.isnull()
                    .sum()
                    .sort_values(ascending = False)
                    , columns = mv)
dfxm.head(10)

                            missing_values
Commission Payout Status             71945
Customization Option                 71945
Customization Group                  71945
Transaction Status                   71945
Promo Code                           71945
Cancellation Reason                  71945
Merchant Earning                     71945
Commission Amount                    71945
Reviews                              71932
Upload restuarant location           71926

In [1072]:
dfym = dfxm['missing_values'] > 0
dfxm[dfym].shape

(90, 1)

In [1073]:
0.7*71945

50361.5

In [1074]:
mvs = dfxm['missing_values']>50300
missing = dfxm[mvs]

In [1075]:
missing

                            missing_values
Commission Payout Status             71945
Customization Option                 71945
Customization Group                  71945
Transaction Status                   71945
Promo Code                           71945
Cancellation Reason                  71945
Merchant Earning                     71945
Commission Amount                    71945
Reviews                              71932
Upload restuarant location           71926
Ratings                              71913
Unnamed: 35                          71906
Unnamed: 34                          71836
Tags                                 71835
Number of Employees                  71340
Number of employees                  68806
Description                          66776
Outstanding Amount                   66673
Last Used Platform                   66673
Is Blocked                           66673
Created At                           66673
Loyalty Points                       66673
Language                             66673
Debt Amount                          59703
Category Name                        58280
SKU                                  58277
Total Price                          58274
Additional Charge                    58274
Order Total                          58274
Sub Total                            58274
Tax                                  58274
Delivery Charge                      58274
Remaining Balance                    58274
Payment Method                       58274
Order Preparation Time               58274
Transaction ID                       58274
Taxable Amount                       58274
Currency Symbol                      58274
Checkout Template Value              58274
Merchant ID                          58274
Checkout Template Name               58274
Store Name                           58274
Pickup Address                       58274
Cost Price                           58274
Distance (in km)                     58274
Order Time                           58274
Pickup Time                          58274
Delivery Time                        58274
Flat Discount                        58274
Consumed Loyalty Points              58274
Redeemed Loyalty Points              58274
Total Cost Price                     58274
Order ID                             58274
Unit Price                           58274
Quantity                             58274
Order Status                         58274
Notes                                58065
Customer ID                          53002

In [1076]:
missing.index

Index(['Commission Payout Status', 'Customization Option',
       'Customization Group', 'Transaction Status', 'Promo Code',
       'Cancellation Reason', 'Merchant Earning', 'Commission Amount',
       'Reviews', 'Upload restuarant location', 'Ratings', 'Unnamed: 35',
       'Unnamed: 34', 'Tags', 'Number of Employees', 'Number of employees',
       'Description', 'Outstanding Amount', 'Last Used Platform', 'Is Blocked',
       'Created At', 'Loyalty Points', 'Language', 'Debt Amount',
       'Category Name', 'SKU', 'Total Price', 'Additional Charge',
       'Order Total', 'Sub Total', 'Tax', 'Delivery Charge',
       'Remaining Balance', 'Payment Method', 'Order Preparation Time',
       'Transaction ID', 'Taxable Amount', 'Currency Symbol',
       'Checkout Template Value', 'Merchant ID', 'Checkout Template Name',
       'Store Name', 'Pickup Address', 'Cost Price', 'Distance (in km)',
       'Order Time', 'Pickup Time', 'Delivery Time', 'Flat Discount',
       'Consumed Loyalty Points', 'Redeemed Loyalty Points',
       'Total Cost Price', 'Order ID', 'Unit Price', 'Quantity',
       'Order Status', 'Notes', 'Customer ID'],
      dtype='object')

In [1077]:
mv_list = ['Commission Payout Status', 'Customization Option',
       'Customization Group', 'Transaction Status', 'Promo Code',
       'Cancellation Reason', 'Merchant Earning', 'Commission Amount',
       'Reviews', 'Upload restuarant location', 'Ratings', 'Unnamed: 35',
       'Unnamed: 34', 'Tags', 'Number of Employees', 'Number of employees',
       'Description', 'Outstanding Amount', 'Last Used Platform', 'Is Blocked',
       'Created At', 'Loyalty Points', 'Language', 'Debt Amount',
       'Category Name', 'SKU', 'Total Price', 'Additional Charge',
       'Order Total', 'Sub Total', 'Tax', 'Delivery Charge',
       'Remaining Balance', 'Payment Method', 'Order Preparation Time',
       'Transaction ID', 'Taxable Amount', 'Currency Symbol',
       'Checkout Template Value', 'Merchant ID', 'Checkout Template Name',
       'Store Name', 'Pickup Address', 'Cost Price', 'Distance (in km)',
       'Order Time', 'Pickup Time', 'Delivery Time', 'Flat Discount',
       'Consumed Loyalty Points', 'Redeemed Loyalty Points',
       'Total Cost Price', 'Order ID', 'Unit Price', 'Quantity',
       'Order Status', 'Notes', 'Customer ID']

In [1078]:
dfy = dfx.drop(mv_list, axis = 1)

In [1079]:
dfy.sample(10)

,Task_ID,Order_ID,Relationship,Team_Name,Task_Type,Agent_ID,Agent_Name,Distance(m),Total_Time_Taken(min),Pick_up_From,Start_Before,Complete_Before,Completion_Time,Task_Status,Ref_Images,Rating,Review,Latitude,Longitude,Promo_Applied,Custom_Template_ID,Task_Details_QTY,Task_Details_AMOUNT,Special_Instructions,Tip,Delivery_Charges,Discount,Subtotal,Payment_Type,Task_Category,Earning,Pricing
37821,300851478.0,"YR-7910082,0",3.008515e+29,Default Team,Delivery,1060795,Brian Mutua,7215,46.87,Kibanda Topup,14 Aug 2021 02:49:30 pm,15 Aug 2021 08:00:00 am,15 Aug 2021 06:53:39 am,Completed,-,0,-,-1.2755095,36.896773,-,Order_Details,1,KSh 3723.00,-,-,-,-,-,-,-,-,-
2538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27033,318513353.0,"YR-9086387,0",3.185134e+29,Default Team,Delivery,1026273,Herman Atsiaya,12362,54.88,Kibanda Topup,17 Oct 2021 08:03:47 pm,18 Oct 2021 08:00:00 am,18 Oct 2021 06:48:39 am,Completed,-,0,-,-1.265358,36.806447,-,Order_Details,11,KSh 572.00,-,-,-,-,-,-,-,-,-
4057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,350635926.0,"YR-10376197,0",3.506359e+29,Default Team,Delivery,1133722,NaN,-,0,Topup Mama,31 Dec 2021 01:43:03 pm,31 Dec 2021 03:00:00 pm,31 Dec 2021 02:16:52 pm,Completed,-,0,-,6.500413,3.379521,-,Order_Details,1,₦ 5350.00,-,-,-,-,-,-,-,-,-
26493,319634698.0,"YR-9128574,0",3.196347e+29,Default Team,Delivery,1092860,Joshua Ndeleva,22,1,Kibanda Topup,20 Oct 2021 02:00:00 pm,21 Oct 2021 09:00:00 am,21 Oct 2021 08:37:27 am,Completed,-,0,-,-1.39382,36.943121,-,Order_Details,2,KSh 7798.00,-,KSh 0.00,KSh 0.00,KSh 0.00,7798,CASH,-,-,-
6770,360211315.0,"YR-10825485,0",3.602113e+29,Default Team,Delivery,1143780,James Kabugi,15291,70.57,Topup Mama,24 Jan 2022 11:08:25 pm,25 Jan 2022 08:00:00 am,25 Jan 2022 06:31:38 am,Completed,-,0,-,-1.265358,36.806447,-,Order_Details,1,KSh 30.00,-,-,-,-,-,-,-,0,0
35677,302382074.0,"YR-8079574,0",3.023821e+29,Default Team,Delivery,1051943,Peter Mwaura,0,0.22,Kibanda Topup,30 Aug 2021 03:00:00 pm,31 Aug 2021 10:00:00 am,31 Aug 2021 09:36:09 am,Failed,-,0,-,-1.220061,36.713441,-,Order_Details,9,KSh 33561.00,-,-,-,-,-,-,-,-,-
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN
39836,299078977.0,"YR-7721662,0",2.990790e+29,Default Team,Delivery,1051943,Peter Mwaura,11,0.17,Kibanda Topup,04 Aug 2021 01:00:00 pm,05 Aug 2021 08:00:00 am,05 Aug 2021 07:56:20 am,Completed,-,0,-,-1.2784631,36.751643,-,Order_Details,1,KSh 3719.00,Deliver tomorrow morning before 8a.m,KSh 0.00,KSh 0.00,KSh 300.00,3419,CASH,-,-,-

In [1080]:
dfy.shape

(71945, 32)

In [1081]:
df = dfy.dropna(axis = 0)

In [1082]:
df.shape

(44857, 32)

In [1083]:
df.sample(10)

,Task_ID,Order_ID,Relationship,Team_Name,Task_Type,Agent_ID,Agent_Name,Distance(m),Total_Time_Taken(min),Pick_up_From,Start_Before,Complete_Before,Completion_Time,Task_Status,Ref_Images,Rating,Review,Latitude,Longitude,Promo_Applied,Custom_Template_ID,Task_Details_QTY,Task_Details_AMOUNT,Special_Instructions,Tip,Delivery_Charges,Discount,Subtotal,Payment_Type,Task_Category,Earning,Pricing
30636,310358539.0,"YR-8734626,0",3.103585e+29,Default Team,Delivery,1092535,Dominic Kipkemoi,14,0.15,Kibanda Topup,28 Sep 2021 01:00:00 pm,29 Sep 2021 08:00:00 am,29 Sep 2021 06:52:24 am,Completed,-,0,-,-1.2258034,36.843939,-,Order_Details,10,KSh 15800.00,-,-,-,-,-,-,-,-,-
1693,365331353.0,"YR-11137536,0",3.653314e+29,Default Team,Delivery,1090453,Owen Mutua,0,0.35,Topup Mama,10 Feb 2022 08:56:05 pm,11 Feb 2022 08:00:00 am,11 Feb 2022 06:24:59 am,Completed,-,0,-,-1.255259,36.878742,-,Order_Details,2,KSh 2780.00,-,KSh 0.00,KSh 0.00,KSh 0.00,2780,CASH,-,0,0
22069,326713433.0,"YR-9411919,0",3.267134e+29,Default Team,Delivery,1091552,Joseph Njuguna,4496,46.57,Kibanda Topup,05 Nov 2021 01:20:22 pm,06 Nov 2021 08:00:00 am,06 Nov 2021 06:59:41 am,Completed,-,0,-,-1.25,36.883300,-,Order_Details,20,KSh 38000.00,-,KSh 0.00,KSh 0.00,KSh 0.00,162230,CASH,-,-,-
6904,360190903.0,"YR-10823650,0",3.601909e+29,Default Team,Delivery,1090453,Owen Mutua,253,10.32,Topup Mama,24 Jan 2022 08:46:40 pm,25 Jan 2022 08:00:00 am,25 Jan 2022 11:00:38 am,Completed,-,0,-,-1.2058843,36.919720,-,Order_Details,2,KSh 130.00,-,-,-,-,-,-,-,0,0
19886,330803182.0,"YR-9581366,0",3.308032e+29,Default Team,Delivery,1101891,Ruth Nyamisi,104,11.43,Kibanda Topup,14 Nov 2021 11:20:13 pm,15 Nov 2021 08:00:00 am,15 Nov 2021 06:18:08 am,Completed,-,0,-,-1.2998575,36.766281,-,Order_Details,1,KSh 200.00,Deliver tomorrow morning by 6.00a.m,KSh 0.00,KSh 0.00,KSh 50.00,4395,CASH,-,-,-
38846,300015604.0,"YR-7826473,0",3.000156e+29,Default Team,Delivery,1070937,Anthony Kinyanjui,0,86.57,Kibanda Topup,09 Aug 2021 08:16:57 pm,10 Aug 2021 08:00:00 am,10 Aug 2021 07:13:24 am,Completed,-,0,-,-1.267455,36.843647,-,Order_Details,5,KSh 10900.00,-,-,-,-,-,-,-,-,-
36018,302208463.0,"YR-8060818,0",3.022085e+29,Default Team,Delivery,1092722,Leonard Hilton,7568,62.72,Kibanda Topup,22 Aug 2021 09:28:03 pm,23 Aug 2021 11:00:00 am,23 Aug 2021 09:34:45 am,Completed,-,0,-,-1.3069018,36.831337,-,Order_Details,1,KSh 60.00,-,-,-,-,-,-,-,-,-
29365,312184762.0,"YR-8821429,0",3.121848e+29,Default Team,Delivery,1092722,Leonard Hilton,2966,17.33,Kibanda Topup,03 Oct 2021 01:00:00 pm,05 Oct 2021 08:00:00 am,05 Oct 2021 06:12:49 am,Completed,-,0,-,-1.244486,36.853471,-,Order_Details,2,KSh 7740.00,-,-,-,-,-,-,-,-,-
15043,343013546.0,"YR-10074991,0",3.430135e+29,Default Team,Delivery,1115111,Robert Kinyajui,-,72.78,Topup Mama,13 Dec 2021 05:37:18 pm,14 Dec 2021 09:00:00 am,14 Dec 2021 07:36:20 am,Completed,-,0,-,-1.1,37.010000,-,Order_Details,1,KSh 4296.00,-,KSh 0.00,KSh 100.00,KSh 50.00,5015,CASH,-,0,0
9209,357013765.0,"YR-10674138,0",3.570138e+29,Default Team,Delivery,1051943,Peter Mwaura,218,1.6,Topup Mama,16 Jan 2022 07:56:42 pm,17 Jan 2022 08:00:00 am,17 Jan 2022 06:17:37 am,Completed,-,0,-,-1.288982,36.788191,-,Order_Details,1,KSh 215.00,Urgently deliver by 6.00am in the morning,KSh 0.00,KSh 0.00,KSh 0.00,10015,CASH,-,0,0

In [1084]:
fmv_count = pd.DataFrame(df.isnull().sum().sort_values(ascending = False), columns = mv)
fmv_count

                       missing_values
Task_ID                             0
Order_ID                            0
Earning                             0
Task_Category                       0
Payment_Type                        0
Subtotal                            0
Discount                            0
Delivery_Charges                    0
Tip                                 0
Special_Instructions                0
Task_Details_AMOUNT                 0
Task_Details_QTY                    0
Custom_Template_ID                  0
Promo_Applied                       0
Longitude                           0
Latitude                            0
Review                              0
Rating                              0
Ref_Images                          0
Task_Status                         0
Completion_Time                     0
Complete_Before                     0
Start_Before                        0
Pick_up_From                        0
Total_Time_Taken(min)               0
Distance(m)                         0
Agent_Name                          0
Agent_ID                            0
Task_Type                           0
Team_Name                           0
Relationship                        0
Pricing                             0

In [1085]:
#times['Start_Before'].str[12:23]

In [1086]:
df.loc[:, 'sched_start_date'] = df.loc[:, 'Start_Before'].str[0:11]
df.loc[:, 'sched_start_time'] = df.loc[:, 'Start_Before'].str[12:23]

C:\Users\mauri\Anaconda3\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [1087]:
df.loc[:, 'sched_end_date'] = df.loc[:, 'Complete_Before'].str[0:11]
df.loc[:, 'sched_end_time'] = df.loc[:, 'Complete_Before'].str[12:23]

In [1088]:
df.loc[:, 'completion_date'] = df.loc[:, 'Completion_Time'].str[0:11]
df.loc[:, 'completion_time'] = df.loc[:, 'Completion_Time'].str[12:23]

In [1089]:
df.sample(10)

,Task_ID,Order_ID,Relationship,Team_Name,Task_Type,Agent_ID,Agent_Name,Distance(m),Total_Time_Taken(min),Pick_up_From,Start_Before,Complete_Before,Completion_Time,Task_Status,Ref_Images,Rating,Review,Latitude,Longitude,Promo_Applied,Custom_Template_ID,Task_Details_QTY,Task_Details_AMOUNT,Special_Instructions,Tip,Delivery_Charges,Discount,Subtotal,Payment_Type,Task_Category,Earning,Pricing,sched_start_date,sched_start_time,sched_end_date,sched_end_time,completion_date,completion_time
30134,310876007.0,"YR-8757968,0",3.108760e+29,Default Team,Delivery,1106853,Robert Kimani,7769,42.78,Kibanda Topup,29 Sep 2021 04:54:35 pm,30 Sep 2021 09:00:00 am,30 Sep 2021 07:24:55 am,Completed,-,0,-,-1.2093878,36.923417,-,Order_Details,10,KSh 16320.00,-,-,-,-,-,-,-,-,-,29 Sep 2021,04:54:35 pm,30 Sep 2021,09:00:00 am,30 Sep 2021,07:24:55 am
23364,324645480.0,"YR-9334330,0",3.246455e+29,Default Team,Delivery,1092535,Dominic Kipkemoi,43,1.4,Kibanda Topup,31 Oct 2021 08:58:35 pm,01 Nov 2021 08:00:00 am,01 Nov 2021 07:08:43 am,Completed,-,0,-,-1.1976814,36.922603,-,Order_Details,1,KSh 200.00,-,KSh 0.00,KSh 0.00,KSh 40.00,4301,CASH,-,-,-,31 Oct 2021,08:58:35 pm,01 Nov 2021,08:00:00 am,01 Nov 2021,07:08:43 am
17981,335140846.0,"YR-9744175,0",3.351408e+29,Default Team,Delivery,1106885,James Muhia,10,1.78,Kibanda Topup,24 Nov 2021 07:40:23 pm,25 Nov 2021 08:00:00 am,25 Nov 2021 05:44:58 am,Completed,-,0,-,-1.287314,36.805498,-,Order_Details,1,KSh 4296.00,-,KSh 0.00,KSh 100.00,KSh 0.00,6095,CASH,-,0,0,24 Nov 2021,07:40:23 pm,25 Nov 2021,08:00:00 am,25 Nov 2021,05:44:58 am
21348,328336395.0,"YR-9481790,0",3.283364e+29,Default Team,Delivery,1001204,Kennedy Mokua,-,0,Kibanda Topup,09 Nov 2021 01:00:00 pm,10 Nov 2021 08:00:00 am,09 Nov 2021 01:45:19 pm,Cancelled,-,0,-,-1.3055286,36.800447,-,Order_Details,1,KSh 6499.00,-,KSh 0.00,KSh 0.00,KSh 0.00,6499,CASH,-,-,-,09 Nov 2021,01:00:00 pm,10 Nov 2021,08:00:00 am,09 Nov 2021,01:45:19 pm
3134,363860432.0,"YR-11070502,0",3.638604e+29,Default Team,Delivery,1051943,Peter Mwaura,5602,43.17,Topup Mama,06 Feb 2022 08:22:42 pm,07 Feb 2022 09:00:00 am,07 Feb 2022 08:33:27 am,Completed,-,0,-,-1.31667,36.783330,-,Order_Details,1,KSh 38.00,-,-,-,-,-,-,-,0,0,06 Feb 2022,08:22:42 pm,07 Feb 2022,09:00:00 am,07 Feb 2022,08:33:27 am
18564,333694444.0,"YR-9691630,0",3.336944e+29,Default Team,Delivery,1114991,Simon Gichu,7542,122.73,Kibanda Topup,21 Nov 2021 01:00:00 pm,22 Nov 2021 08:00:00 am,22 Nov 2021 07:43:05 am,Completed,-,0,-,-1.2885127,36.751124,-,Order_Details,5,KSh 8495.00,-,-,-,-,-,-,-,-,-,21 Nov 2021,01:00:00 pm,22 Nov 2021,08:00:00 am,22 Nov 2021,07:43:05 am
5346,362154985.0,"YR-10938872,0",3.621550e+29,Default Team,Delivery,1274962,Philip Muraguri,0,1.58,Topup Mama,30 Jan 2022 06:37:47 pm,31 Jan 2022 09:00:00 am,31 Jan 2022 08:31:49 am,Completed,-,0,-,-1.277803,36.830072,-,Order_Details,3,KSh 12900.00,-,-,-,-,-,-,-,0,0,30 Jan 2022,06:37:47 pm,31 Jan 2022,09:00:00 am,31 Jan 2022,08:31:49 am
5831,361314642.0,"YR-10879490,0",3.613146e+29,Default Team,Delivery,1092722,Leonard Hilton,16452,150.45,Topup Mama,27 Jan 2022 09:34:01 pm,28 Jan 2022 08:00:00 am,28 Jan 2022 10:03:14 am,Completed,-,0,-,-1.2856465,36.770610,-,Order_Details,5,KSh 750.00,-,-,-,-,-,-,-,0,0,27 Jan 2022,09:34:01 pm,28 Jan 2022,08:00:00 am,28 Jan 2022,10:03:14 am
18951,332579950.0,"YR-9642705,0",3.325800e+29,Default Team,Delivery,1101891,Ruth Nyamisi,357,52.6,Kibanda Topup,18 Nov 2021 06:54:17 pm,19 Nov 2021 08:00:00 am,19 Nov 2021 10:59:10 am,Completed,-,0,-,-1.299911,36.786330,-,Order_Details,5,KSh 2200.00,-,KSh 0.00,KSh 0.00,KSh 0.00,2200,CASH,-,-,-,18 Nov 2021,06:54:17 pm,19 Nov 2021,08:00:00 am,19 Nov 2021,10:59:10 am
15622,341352977.0,"YR-10000127,0",3.413530e+29,Default Team,Delivery,1092535,Dominic Kipkemoi,5607,30.42,Topup Mama,09 Dec 2021 02:58:05 pm,10 Dec 2021 08:00:00 am,10 Dec 2021 06:19:57 am,Completed,-,0,-,-1.2727784,36.815858,-,Order_Details,7,KSh 30072.00,-,-,-,-,-,-,-,0,0,09 Dec 2021,02:58:05 pm,10 Dec 2021,08:00:00 am,10 Dec 2021,06:19:57 am

In [1090]:
df.dtypes

Task_ID                  float64
Order_ID                  object
Relationship             float64
Team_Name                 object
Task_Type                 object
Agent_ID                  object
Agent_Name                object
Distance(m)               object
Total_Time_Taken(min)     object
Pick_up_From              object
Start_Before              object
Complete_Before           object
Completion_Time           object
Task_Status               object
Ref_Images                object
Rating                    object
Review                    object
Latitude                  object
Longitude                float64
Promo_Applied             object
Custom_Template_ID        object
Task_Details_QTY          object
Task_Details_AMOUNT       object
Special_Instructions      object
Tip                       object
Delivery_Charges          object
Discount                  object
Subtotal                  object
Payment_Type              object
Task_Category             object
Earning                   object
Pricing                   object
sched_start_date          object
sched_start_time          object
sched_end_date            object
sched_end_time            object
completion_date           object
completion_time           object
dtype: object

In [1091]:
df.columns

Index(['Task_ID', 'Order_ID', 'Relationship', 'Team_Name', 'Task_Type',
       'Agent_ID', 'Agent_Name', 'Distance(m)', 'Total_Time_Taken(min)',
       'Pick_up_From', 'Start_Before', 'Complete_Before', 'Completion_Time',
       'Task_Status', 'Ref_Images', 'Rating', 'Review', 'Latitude',
       'Longitude', 'Promo_Applied', 'Custom_Template_ID', 'Task_Details_QTY',
       'Task_Details_AMOUNT', 'Special_Instructions', 'Tip',
       'Delivery_Charges', 'Discount', 'Subtotal', 'Payment_Type',
       'Task_Category', 'Earning', 'Pricing', 'sched_start_date',
       'sched_start_time', 'sched_end_date', 'sched_end_time',
       'completion_date', 'completion_time'],
      dtype='object')

In [1092]:
time_drops = ['Start_Before', 'Complete_Before', 'Completion_Time']

In [1093]:
df_final = df.drop(time_drops, axis = 1)

In [1094]:
df_final.sample(10)

,Task_ID,Order_ID,Relationship,Team_Name,Task_Type,Agent_ID,Agent_Name,Distance(m),Total_Time_Taken(min),Pick_up_From,Task_Status,Ref_Images,Rating,Review,Latitude,Longitude,Promo_Applied,Custom_Template_ID,Task_Details_QTY,Task_Details_AMOUNT,Special_Instructions,Tip,Delivery_Charges,Discount,Subtotal,Payment_Type,Task_Category,Earning,Pricing,sched_start_date,sched_start_time,sched_end_date,sched_end_time,completion_date,completion_time
23151,325043142.0,"YR-9348089,0",3.250431e+29,Default Team,Delivery,1106885,James Muhia,419,11.27,Kibanda Topup,Completed,-,0,-,-1.264415,36.803912,-,Order_Details,1,KSh 260.00,deliver tommorrow morning by 7.00a.m,KSh 0.00,KSh 0.00,KSh 0.00,3090,CASH,-,-,-,01 Nov 2021,06:05:06 pm,02 Nov 2021,08:00:00 am,02 Nov 2021,06:31:51 am
15708,341064676.0,"YR-9989555,0",3.410647e+29,Default Team,Delivery,1200500,James Mwangi,9090,52.82,Topup Mama,Completed,-,0,-,-1.2791242,36.808893,-,Order_Details,3,KSh 5220.00,-,-,-,-,-,-,-,0,0,08 Dec 2021,09:33:42 pm,09 Dec 2021,08:00:00 am,09 Dec 2021,08:31:59 am
10006,355435721.0,"YR-10598167,0",3.554357e+29,Default Team,Delivery,1280904,Malombe Kimathi,-,0,Topup Mama,Completed,-,0,-,-1.2842443,36.812464,-,Order_Details,3,KSh 5010.00,-,-,-,-,-,-,-,-,-,12 Jan 2022,10:30:40 pm,13 Jan 2022,08:00:00 am,13 Jan 2022,09:56:49 am
43351,283234032.0,"YR-7031848,0",2.832340e+29,Default Team,Delivery,1015707,Benson Chagusia,2896,12.97,Kibanda Topup,Completed,-,0,-,-1.28333,36.816670,-,Order_Details,1,KSh 1199.00,-,-,-,-,-,-,-,-,-,27 Jun 2021,04:39:17 pm,28 Jun 2021,08:00:00 am,28 Jun 2021,06:36:26 am
7761,359054683.0,"YR-10763147,0",3.590547e+29,Default Team,Delivery,1092722,Leonard Hilton,21731,143.87,Topup Mama,Completed,-,0,-,-1.296612,36.884472,-,Order_Details,6,KSh 3000.00,-,-,-,-,-,-,-,0,0,21 Jan 2022,08:08:34 pm,22 Jan 2022,10:00:00 am,22 Jan 2022,09:55:49 am
32920,306575692.0,"YR-8502805,0",3.065757e+29,Default Team,Delivery,1115111,Robert Kinyajui,0,0.63,Kibanda Topup,Completed,-,0,-,-1.14889,36.956940,-,Order_Details,1,KSh 3799.00,-,-,-,-,-,-,-,-,-,15 Sep 2021,01:00:00 pm,16 Sep 2021,08:00:00 am,15 Sep 2021,05:32:34 pm
10549,354565477.0,"YR-10559305,0",3.545655e+29,Default Team,Delivery,1092535,Dominic Kipkemoi,0,34.85,Topup Mama,Completed,-,0,-,-1.1,37.010000,-,Order_Details,2,KSh 228.00,-,-,-,-,-,-,-,0,0,10 Jan 2022,07:03:08 pm,11 Jan 2022,08:00:00 am,11 Jan 2022,07:11:51 am
18774,333006475.0,"YR-9659066,0",3.330065e+29,Default Team,Delivery,1060799,Josphat Rarimi,9966,44.35,Kibanda Topup,Completed,-,0,-,-1.2258034,36.843939,-,Order_Details,2,KSh 1620.00,-,-,-,-,-,-,-,-,-,19 Nov 2021,06:19:57 pm,20 Nov 2021,08:00:00 am,20 Nov 2021,06:45:55 am
682,366946334.0,"YR-11218398,0",3.669463e+29,Default Team,Delivery,1051943,Peter Mwaura,-,19.92,Topup Mama,Completed,-,0,-,-1.3068044,36.817642,-,Order_Details,2,KSh 228.00,-,KSh 0.00,KSh 0.00,KSh 76.00,7302,CASH,-,0,0,14 Feb 2022,09:31:19 pm,15 Feb 2022,08:00:00 am,15 Feb 2022,07:29:18 am
24459,323101148.0,"YR-9265602,0",3.231011e+29,Default Team,Delivery,1051943,Peter Mwaura,0,0.75,Kibanda Topup,Completed,-,0,-,-1.2926178,36.747079,-,Order_Details,2,KSh 8100.00,-,KSh 0.00,KSh 0.00,KSh 0.00,8100,CASH,-,-,-,28 Oct 2021,02:00:00 pm,29 Oct 2021,09:00:00 am,29 Oct 2021,07:32:42 am

In [1095]:
df_final.columns

Index(['Task_ID', 'Order_ID', 'Relationship', 'Team_Name', 'Task_Type',
       'Agent_ID', 'Agent_Name', 'Distance(m)', 'Total_Time_Taken(min)',
       'Pick_up_From', 'Task_Status', 'Ref_Images', 'Rating', 'Review',
       'Latitude', 'Longitude', 'Promo_Applied', 'Custom_Template_ID',
       'Task_Details_QTY', 'Task_Details_AMOUNT', 'Special_Instructions',
       'Tip', 'Delivery_Charges', 'Discount', 'Subtotal', 'Payment_Type',
       'Task_Category', 'Earning', 'Pricing', 'sched_start_date',
       'sched_start_time', 'sched_end_date', 'sched_end_time',
       'completion_date', 'completion_time'],
      dtype='object')

## FEATURE ENGINEERING

In [1096]:
merged_orders = pd.concat([ko, no], axis = 0)

In [1097]:
f_merged_orders = merged_orders.copy()

In [1098]:
f_merged_orders.head()

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Transaction Status,Promo Code,Customer ID,Merchant ID,Store Name,Pickup Address,Description,Distance (in km),Order Time,Pickup Time,Delivery Time,Ratings,Reviews,Merchant Earning,Commission Amount,Commission Payout Status,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Cancellation Reason,Flat Discount,Checkout Template Name,Checkout Template Value
0,11265015,ORDERED,Cooking Fat & Oil,KKCO0487,NaN,NaN,1,4400,4250,4250,4400,4350.0,4400,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,3755460,893555,Topup Mama,"Kilimani, Nairobi, Kenya",NaN,10.90,2022-02-17T16:36:27.000Z,2022-02-17T16:37:16.000Z,2022-02-18T08:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,50,-,NaN,0,-,-
1,11264651,ORDERED,Cleaning & Hygiene,KKPT280100,NaN,NaN,1,180,130,130,180,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
2,11264651,ORDERED,Flour & Sugar,KKFS0702,NaN,NaN,6,263,247,1482,1578,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
3,11264651,ORDERED,Salt & Seasoning,KKSS0002,NaN,NaN,10,65,58,580,650,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
4,11264651,ORDERED,Beverages,KKBE0105,NaN,NaN,1,249,208.5,208.5,249,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-

In [1099]:
no.shape

(1429, 46)

In [1100]:
ko.shape

(12242, 47)

In [1101]:
merged_orders.shape

(13671, 47)

In [1102]:
merged_orders.head()

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Transaction Status,Promo Code,Customer ID,Merchant ID,Store Name,Pickup Address,Description,Distance (in km),Order Time,Pickup Time,Delivery Time,Ratings,Reviews,Merchant Earning,Commission Amount,Commission Payout Status,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Cancellation Reason,Flat Discount,Checkout Template Name,Checkout Template Value
0,11265015,ORDERED,Cooking Fat & Oil,KKCO0487,NaN,NaN,1,4400,4250,4250,4400,4350.0,4400,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,3755460,893555,Topup Mama,"Kilimani, Nairobi, Kenya",NaN,10.90,2022-02-17T16:36:27.000Z,2022-02-17T16:37:16.000Z,2022-02-18T08:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,50,-,NaN,0,-,-
1,11264651,ORDERED,Cleaning & Hygiene,KKPT280100,NaN,NaN,1,180,130,130,180,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
2,11264651,ORDERED,Flour & Sugar,KKFS0702,NaN,NaN,6,263,247,1482,1578,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
3,11264651,ORDERED,Salt & Seasoning,KKSS0002,NaN,NaN,10,65,58,580,650,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
4,11264651,ORDERED,Beverages,KKBE0105,NaN,NaN,1,249,208.5,208.5,249,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-

In [1103]:
mmv = pd.DataFrame(merged_orders.isnull()
                   .sum().sort_values(ascending = False)
                   , columns = mv).head(15)
mmv

                          missing_values
Transaction Status                 13671
Cancellation Reason                13671
Promo Code                         13671
Merchant Earning                   13671
Commission Amount                  13671
Commission Payout Status           13671
Customization Option               13671
Customization Group                13671
Reviews                            13658
Ratings                            13639
Description                         8502
Debt Amount                         1429
Category Name                          6
SKU                                    3
Pickup Time                            0

In [1104]:
mmv_d = mmv['missing_values'] > 8000
mmv_dropped = mmv[mmv_d]
mmv_dropped.index

Index(['Transaction Status', 'Cancellation Reason', 'Promo Code',
       'Merchant Earning', 'Commission Amount', 'Commission Payout Status',
       'Customization Option', 'Customization Group', 'Reviews', 'Ratings',
       'Description'],
      dtype='object')

In [1105]:
dropped_order = ['Transaction Status', 'Cancellation Reason', 'Promo Code',
       'Merchant Earning', 'Commission Amount', 'Commission Payout Status',
       'Customization Option', 'Customization Group', 'Reviews', 'Ratings',
       'Description']

In [1106]:
new_order = merged_orders.drop(dropped_order, axis = 1)

In [1107]:
new_order.fillna(method = 'ffill').head()

,Order ID,Order Status,Category Name,SKU,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Customer ID,Merchant ID,Store Name,Pickup Address,Distance (in km),Order Time,Pickup Time,Delivery Time,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Flat Discount,Checkout Template Name,Checkout Template Value
0,11265015,ORDERED,Cooking Fat & Oil,KKCO0487,1,4400,4250,4250,4400,4350.0,4400,-,-,-,-,0,CASH,-,-,0,KSh,3755460,893555,Topup Mama,"Kilimani, Nairobi, Kenya",10.90,2022-02-17T16:36:27.000Z,2022-02-17T16:37:16.000Z,2022-02-18T08:00:00.000Z,0,-,50,-,0,-,-
1,11264651,ORDERED,Cleaning & Hygiene,KKPT280100,1,180,130,130,180,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
2,11264651,ORDERED,Flour & Sugar,KKFS0702,6,263,247,1482,1578,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
3,11264651,ORDERED,Salt & Seasoning,KKSS0002,10,65,58,580,650,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
4,11264651,ORDERED,Beverages,KKBE0105,1,249,208.5,208.5,249,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-

In [1108]:
new_order.fillna(method = 'bfill').head()

,Order ID,Order Status,Category Name,SKU,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Customer ID,Merchant ID,Store Name,Pickup Address,Distance (in km),Order Time,Pickup Time,Delivery Time,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Flat Discount,Checkout Template Name,Checkout Template Value
0,11265015,ORDERED,Cooking Fat & Oil,KKCO0487,1,4400,4250,4250,4400,4350.0,4400,-,-,-,-,0,CASH,-,-,0,KSh,3755460,893555,Topup Mama,"Kilimani, Nairobi, Kenya",10.90,2022-02-17T16:36:27.000Z,2022-02-17T16:37:16.000Z,2022-02-18T08:00:00.000Z,0,-,50,-,0,-,-
1,11264651,ORDERED,Cleaning & Hygiene,KKPT280100,1,180,130,130,180,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
2,11264651,ORDERED,Flour & Sugar,KKFS0702,6,263,247,1482,1578,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
3,11264651,ORDERED,Salt & Seasoning,KKSS0002,10,65,58,580,650,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
4,11264651,ORDERED,Beverages,KKBE0105,1,249,208.5,208.5,249,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-

In [1109]:
new_order.dropna(axis = 0).head()

,Order ID,Order Status,Category Name,SKU,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Customer ID,Merchant ID,Store Name,Pickup Address,Distance (in km),Order Time,Pickup Time,Delivery Time,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Flat Discount,Checkout Template Name,Checkout Template Value
0,11265015,ORDERED,Cooking Fat & Oil,KKCO0487,1,4400,4250,4250,4400,4350.0,4400,-,-,-,-,0,CASH,-,-,0,KSh,3755460,893555,Topup Mama,"Kilimani, Nairobi, Kenya",10.90,2022-02-17T16:36:27.000Z,2022-02-17T16:37:16.000Z,2022-02-18T08:00:00.000Z,0,-,50,-,0,-,-
1,11264651,ORDERED,Cleaning & Hygiene,KKPT280100,1,180,130,130,180,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
2,11264651,ORDERED,Flour & Sugar,KKFS0702,6,263,247,1482,1578,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
3,11264651,ORDERED,Salt & Seasoning,KKSS0002,10,65,58,580,650,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-
4,11264651,ORDERED,Beverages,KKBE0105,1,249,208.5,208.5,249,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,0,-,-,-,0,-,-

In [1110]:
#new_order = new_order.drop('SKU', axis = 1)
#new_order = new_order.drop('Debt Amount', axis = 1)
new_order = new_order.drop('Category Name', axis = 1)

In [1111]:
new_order.isnull().sum()

Order ID                      0
Order Status                  0
SKU                           3
Quantity                      0
Unit Price                    0
Cost Price                    0
Total Cost Price              0
Total Price                   0
Order Total                   0
Sub Total                     0
Tax                           0
Delivery Charge               0
Tip                           0
Discount                      0
Remaining Balance             0
Payment Method                0
Additional Charge             0
Taxable Amount                0
Transaction ID                0
Currency Symbol               0
Customer ID                   0
Merchant ID                   0
Store Name                    0
Pickup Address                0
Distance (in km)              0
Order Time                    0
Pickup Time                   0
Delivery Time                 0
Order Preparation Time        0
Debt Amount                1429
Redeemed Loyalty Points       0
Consumed Loyalty Points       0
Flat Discount                 0
Checkout Template Name        0
Checkout Template Value       0
dtype: int64

In [1112]:
orders_df = new_order.copy()

In [1113]:
merged_customers = pd.concat([kc, nc], axis = 0)

In [1114]:
kc.shape

(4177, 9)

In [1115]:
nc.shape

(1095, 8)

In [1116]:
merged_customers.shape

(5272, 10)

In [1117]:
merged_customers.head()

,Customer ID,Last Used Platform,Is Blocked,Created At,Language,Outstanding Amount,Loyalty Points,Number of employees,Upload restuarant location,Number of Employees
0,3144837,WEB,0,2021-03-15T17:13:19.000Z,en,0,0,NaN,NaN,NaN
1,3174590,WEB,0,2021-03-20T14:15:11.000Z,en,0,0,NaN,NaN,NaN
2,3181998,WEB,0,2021-03-21T15:36:51.000Z,en,0,0,NaN,NaN,NaN
3,3191244,WEB,0,2021-03-23T08:54:00.000Z,en,0,367,NaN,NaN,NaN
4,3274222,WEB,0,2021-04-06T13:52:39.000Z,en,0,0,NaN,NaN,NaN

In [1118]:
merged_customers.isnull().sum()

Customer ID                      0
Last Used Platform               0
Is Blocked                       0
Created At                       0
Language                         0
Outstanding Amount               0
Loyalty Points                   0
Number of employees           2133
Upload restuarant location    5253
Number of Employees           4667
dtype: int64

In [1119]:
merged_customers = merged_customers.drop('Number of employees', axis = 1)
merged_customers = merged_customers.drop('Upload restuarant location', axis = 1)
merged_customers = merged_customers.drop('Number of Employees', axis = 1)
merged_customers.head()

,Customer ID,Last Used Platform,Is Blocked,Created At,Language,Outstanding Amount,Loyalty Points
0,3144837,WEB,0,2021-03-15T17:13:19.000Z,en,0,0
1,3174590,WEB,0,2021-03-20T14:15:11.000Z,en,0,0
2,3181998,WEB,0,2021-03-21T15:36:51.000Z,en,0,0
3,3191244,WEB,0,2021-03-23T08:54:00.000Z,en,0,367
4,3274222,WEB,0,2021-04-06T13:52:39.000Z,en,0,0

In [1120]:
merged_customers.isnull().sum()

Customer ID           0
Last Used Platform    0
Is Blocked            0
Created At            0
Language              0
Outstanding Amount    0
Loyalty Points        0
dtype: int64

In [1235]:
merged_deliveries = pd.concat([kd, nd], axis = 0)

In [1236]:
kd.shape

(44983, 36)

In [1237]:
nd.shape

(8019, 33)

In [1238]:
merged_deliveries.shape

(53002, 36)

In [1239]:
merged_deliveries.sample(5)

,Task_ID,Order_ID,Relationship,Team_Name,Task_Type,Notes,Agent_ID,Agent_Name,Distance(m),Total_Time_Taken(min),Pick_up_From,Start_Before,Complete_Before,Completion_Time,Task_Status,Ref_Images,Rating,Review,Latitude,Longitude,Tags,Promo_Applied,Custom_Template_ID,Task_Details_QTY,Task_Details_AMOUNT,Special_Instructions,Tip,Delivery_Charges,Discount,Subtotal,Payment_Type,Task_Category,Earning,Pricing,Unnamed: 34,Unnamed: 35
20727,329302546,"YR-9516244,0",3.293025e+29,Default Team,Delivery,NaN,1060799,Josphat Rarimi,-,39.33,Kibanda Topup,11 Nov 2021 06:00:00 pm,12 Nov 2021 01:00:00 pm,12 Nov 2021 04:05:39 pm,Completed,-,0,-,-1.2331447,36.931675,NaN,-,Order_Details,1,KSh 1640.00,-,KSh 0.00,KSh 0.00,KSh 0.00,3575,CASH,-,-,-,NaN,NaN
11110,353157591,"YR-10492297,0",3.531576e+29,Default Team,Delivery,Same Day delivery,1251029,John Wacira,1548,7.47,Topup Mama,07 Jan 2022 01:00:00 pm,08 Jan 2022 08:00:00 am,07 Jan 2022 01:11:10 pm,Completed,-,0,-,-1.2693639,36.832643,NaN,-,Order_Details,5,KSh 7050.00,Same Day delivery,KSh 0.00,KSh 0.00,KSh 107.00,6943,CASH,-,0,0,NaN,NaN
14870,343422843,"YR-10089844,0",3.434228e+29,Default Team,Delivery,Deliver tomorrow morning by 7.00a.m,-,-,-,0,Topup Mama,14 Dec 2021 05:01:57 pm,15 Dec 2021 08:00:00 am,14 Dec 2021 05:06:46 pm,Cancelled,-,0,-,-1.2555593,36.787904,NaN,-,Order_Details,5,KSh 500.00,Deliver tomorrow morning by 7.00a.m,KSh 0.00,KSh 100.00,KSh 0.00,3773,CASH,-,-,-,NaN,NaN
30722,310224661,"YR-8728820,0",3.102247e+29,Default Team,Delivery,Kindly deliver at 6am,1092506,Daniel Wambua,7887,101.57,Kibanda Topup,27 Sep 2021 08:35:36 pm,28 Sep 2021 12:00:00 pm,28 Sep 2021 11:05:13 am,Completed,-,0,-,-1.2755095,36.896773,NaN,-,Order_Details,2,KSh 3160.00,-,-,-,-,-,-,-,-,-,NaN,NaN
32029,308228149,"YR-8618591,0",3.082281e+29,Default Team,Delivery,deliver tommorrow morning at 9.00am,1115111,Robert Kinyajui,10,1.72,Kibanda Topup,21 Sep 2021 06:31:32 pm,22 Sep 2021 09:00:00 am,22 Sep 2021 06:57:46 am,Completed,-,0,-,-1.186376,36.902238,NaN,-,Order_Details,1,KSh 3870.00,deliver tommorrow morning at 9.00am,KSh 0.00,KSh 0.00,KSh 0.00,3870,CASH,-,-,-,NaN,NaN

In [1240]:
md = pd.DataFrame(merged_deliveries.isnull()
                  .sum()
                  .sort_values(ascending = False)
                  , columns = mv).head(7)
md

               missing_values
Unnamed: 35             52963
Unnamed: 34             52893
Tags                    52892
Notes                   39122
Agent_Name               8019
Promo_Applied             109
Review                     25

In [1127]:
merged_deliveries = merged_deliveries.drop('Unnamed: 35', axis = 1)
merged_deliveries = merged_deliveries.drop('Unnamed: 34', axis = 1)
merged_deliveries = merged_deliveries.drop('Tags', axis = 1)
merged_deliveries = merged_deliveries.drop('Notes', axis = 1)
merged_deliveries = merged_deliveries.drop('Agent_Name', axis = 1)
merged_deliveries = merged_deliveries.drop('Promo_Applied', axis = 1)
merged_deliveries = merged_deliveries.drop('Review', axis = 1)

In [1128]:
merged_deliveries.shape

(53002, 29)

In [1129]:
merged_orders = new_order.dropna(axis = 1)

In [1130]:
#SelectKBest
merged_orders.shape

(13671, 33)

In [1131]:
#PCA
merged_customers.shape

(5272, 7)

In [1132]:
# Confusion Matrix
merged_deliveries.shape

(53002, 29)

## ENCODING

In [1133]:
modf = merged_orders.copy()

In [1134]:
mcdf = merged_customers.copy()

In [1135]:
mddf = merged_deliveries.copy()

In [1136]:
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest, chi2, f_regression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
le = LabelEncoder()
ss = StandardScaler()

In [1137]:
modf = modf.apply(lambda col: le.fit_transform(col.astype(str)),
                  axis = 0, result_type = 'expand')

In [1138]:
mcdf = mcdf.apply(lambda col: le.fit_transform(col.astype(str)),
                  axis = 0, result_type = 'expand')

In [1139]:
mddf = mddf.apply(lambda col: le.fit_transform(col.astype(str)),
                  axis = 0, result_type = 'expand')

In [1140]:
modf.sample(3)

,Order ID,Order Status,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Customer ID,Merchant ID,Store Name,Pickup Address,Distance (in km),Order Time,Pickup Time,Delivery Time,Order Preparation Time,Redeemed Loyalty Points,Consumed Loyalty Points,Flat Discount,Checkout Template Name,Checkout Template Value
7926,1781,1,12,40,49,436,399,2325,2349,0,0,0,0,0,0,0,0,0,0,292,1,0,1,304,1782,1494,114,0,132,408,0,0,0
3036,3293,1,8,186,150,624,669,741,692,0,0,0,0,0,1,0,0,0,0,543,1,0,1,3,3301,2852,230,0,23,148,0,0,0
2174,3593,0,0,40,49,173,155,1304,1296,0,0,0,0,0,0,0,0,0,0,646,1,0,1,318,3588,3112,253,0,0,0,0,0,0

In [1141]:
mcdf.sample(3)

,Customer ID,Last Used Platform,Is Blocked,Created At,Language,Outstanding Amount,Loyalty Points
3919,4900,0,0,4899,0,0,158
570,4029,0,0,4028,0,0,0
1508,1509,0,0,1509,0,0,464

In [1142]:
mddf.sample(3)

,Task_ID,Order_ID,Relationship,Team_Name,Task_Type,Agent_ID,Distance(m),Total_Time_Taken(min),Pick_up_From,Start_Before,Complete_Before,Completion_Time,Task_Status,Ref_Images,Rating,Latitude,Longitude,Custom_Template_ID,Task_Details_QTY,Task_Details_AMOUNT,Special_Instructions,Tip,Delivery_Charges,Discount,Subtotal,Payment_Type,Task_Category,Earning,Pricing
3249,16178,21928,16176,0,0,73,7167,8146,38,3584,417,4536,42,0,1,2405,485,1,1,2384,4,37,32,1908,2270,1,0,0,0
26420,12721,18471,12719,0,0,10,0,1,0,15001,1953,17009,41,0,1,1355,864,1,26,1994,4,13,26,1,8103,1,0,0,0
25174,13634,19384,13632,0,0,32,9043,1463,0,16226,2115,21784,42,0,1,522,2037,1,1,1694,4,13,26,1,2120,1,0,0,0

In [1145]:
Xod_train, Xod_test, yod_train, yod_test = train_test_split(Xod, yod, test_size=0.3, random_state=101)
Xod_train.shape, yod_train.shape, Xod_test.shape, yod_test.shape

((9569, 32), (9569,), (4102, 32), (4102,))

In [1146]:
KBestod = SelectKBest(chi2, k=10).fit(Xod, yod)

In [1147]:
fod = KBestod.get_support(1)

In [1148]:
features_od = Xod[Xod.columns[fod]] # final features`
features_od

,Order ID,Total Cost Price,Order Total,Sub Total,Customer ID,Distance (in km),Order Time,Pickup Time,Delivery Time,Consumed Loyalty Points
0,4394,542,1522,1518,42,24,4388,3827,305,0
1,4393,103,2282,2272,454,390,4387,3826,306,0
2,4393,142,2282,2272,454,390,4387,3826,306,0
3,4393,652,2282,2272,454,390,4387,3826,306,0
4,4393,282,2282,2272,454,390,4387,3826,306,0
...,...,...,...,...,...,...,...,...,...,...
1424,84,70,2272,2266,507,199,75,63,5,58
1425,84,70,2272,2266,507,199,75,63,5,58
1426,80,267,583,564,411,82,73,62,3,294
1427,76,12,68,56,475,87,71,61,3,132
1428,62,266,582,563,288,105,47,43,3,292

In [1149]:
clusterer_final = KMeans(n_clusters=3, random_state=0).fit(Xod)
delivery_processed_plot = pd.DataFrame(Xod) #to use pandas methods
## add a column with the predictions
delivery_processed_plot['KMeans_cluster'] = clusterer_final.labels_
#from sklearn.preprocessing import LabelEncoder
#le = LabelEncoder()
delivery_processed_plot['results']= le.fit_transform(delivery_processed_plot['KMeans_cluster'].values)

C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float

C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float

C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float

C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.

C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float

In [1150]:
delivery_processed_plot.head()

,Order ID,Order Status,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Customer ID,Merchant ID,Store Name,Pickup Address,Distance (in km),Order Time,Pickup Time,Delivery Time,Order Preparation Time,Consumed Loyalty Points,Flat Discount,Checkout Template Name,Checkout Template Value,KMeans_cluster,results
0,4394,3,0,173,173,542,500,1522,1518,0,0,0,0,0,0,0,0,0,0,42,1,0,1,24,4388,3827,305,0,0,0,0,0,1,1
1,4393,3,0,51,27,103,188,2282,2272,0,0,0,0,0,0,0,0,0,0,454,1,0,1,390,4387,3826,306,0,0,0,0,0,1,1
2,4393,3,32,114,115,142,143,2282,2272,0,0,0,0,0,0,0,0,0,0,454,1,0,1,390,4387,3826,306,0,0,0,0,0,1,1
3,4393,3,1,209,207,652,625,2282,2272,0,0,0,0,0,0,0,0,0,0,454,1,0,1,390,4387,3826,306,0,0,0,0,0,1,1
4,4393,3,0,108,94,282,305,2282,2272,0,0,0,0,0,0,0,0,0,0,454,1,0,1,390,4387,3826,306,0,0,0,0,0,1,1

In [1151]:
delivery_processed_plot['KMeans_cluster'].value_counts()

0    4893
1    4718
2    4060
Name: KMeans_cluster, dtype: int64

In [1152]:
delivery_processed_plot['KMeans_cluster'] = delivery_processed_plot['KMeans_cluster'].replace({
                                        0 : 'High retention',
                                        1 : 'Medium retention',
                                        2 : 'Low retention'})

In [1153]:
delivery_processed_plot.sample(5)

,Order ID,Order Status,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Customer ID,Merchant ID,Store Name,Pickup Address,Distance (in km),Order Time,Pickup Time,Delivery Time,Order Preparation Time,Consumed Loyalty Points,Flat Discount,Checkout Template Name,Checkout Template Value,KMeans_cluster,results
1247,3944,1,5,109,96,354,369,1432,1439,0,0,0,0,0,0,0,0,0,0,149,1,0,1,428,3939,3420,277,0,292,0,0,0,Medium retention,1
6452,2277,1,18,28,29,504,492,862,840,0,0,0,0,0,0,0,0,0,0,344,1,0,1,191,2281,1923,148,0,162,0,0,0,High retention,0
11580,272,1,30,163,170,288,249,702,688,0,0,0,0,0,0,0,0,0,0,87,1,0,1,349,273,219,20,0,148,0,0,0,Low retention,2
3578,3154,1,0,62,72,235,212,2370,2366,0,0,0,0,0,0,0,0,0,0,548,1,0,1,380,3155,2714,223,0,410,0,0,0,Medium retention,1
1384,173,1,0,216,219,709,640,282,303,0,0,0,0,0,0,0,0,0,1,183,0,0,0,172,173,132,12,0,197,0,0,0,Low retention,2

In [1154]:
merged_orders.shape

(13671, 33)

In [1155]:
delivery_processed_plot.shape

(13671, 34)

In [1156]:
merged_orders['CustomerRetention'] = delivery_processed_plot['KMeans_cluster']

C:\Users\mauri\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1242]:
merged_orders.sample(10)

,Order ID,Order Status,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Customer ID,Merchant ID,Store Name,Pickup Address,Distance (in km),Order Time,Pickup Time,Delivery Time,Order Preparation Time,Redeemed Loyalty Points,Consumed Loyalty Points,Flat Discount,Checkout Template Name,Checkout Template Value,CustomerRetention
6501,10842019,COMPLETED,1,4275,4220,4220,4275,4260.00,4335,-,-,-,-,0,CASH,-,-,0,KSh,4334864,893555,Topup Mama,"Kilimani, Nairobi, Kenya",14.24,2022-01-25T21:27:39.000Z,2022-01-25T21:25:29.000Z,2022-01-26T08:00:00.000Z,0,75,43,0,-,-,High retention
11425,10466494,COMPLETED,2,263,247,494,526,5665.00,5665,-,-,-,-,0,CASH,-,-,0,KSh,4719937,893555,Topup Mama,"Kilimani, Nairobi, Kenya",4.62,2022-01-05T21:14:48.000Z,2022-01-05T21:15:32.000Z,2022-01-06T08:00:00.000Z,0,-,56,0,-,-,Low retention
2494,11096948,CANCELLED,9,4320,4270,38430,38880,38880.00,38880,-,-,-,-,0,CASH,-,-,0,KSh,4153817,893555,Topup Mama,"Kilimani, Nairobi, Kenya",12.36,2022-02-08T14:17:04.000Z,2022-02-08T14:17:59.000Z,2022-02-09T08:00:00.000Z,0,-,-,0,-,-,Medium retention
1027,10701650,COMPLETED,1,26050,24800,24800,26050,26050.00,26050,-,-,-,-,0,CASH,-,-,0,₦,4718102,1048159,Topup Mama,-,11998.30,2022-01-18T10:51:16.000Z,2022-01-18T10:51:57.000Z,2022-01-18T11:00:00.000Z,0,-,52,0,-,-,Low retention
5097,10942771,COMPLETED,1,30,20,20,30,31776.06,31153,-,-,-,-,0,Pay Later,-,-,0,KSh,4221486,893555,Topup Mama,"Kilimani, Nairobi, Kenya",2.25,2022-01-30T22:25:01.000Z,2022-01-30T22:25:51.000Z,2022-01-31T08:00:00.000Z,0,-,311,0,-,-,High retention
5602,10898333,COMPLETED,1,65,59,59,65,2456.00,2521,-,-,-,-,0,CASH,-,-,0,KSh,4041415,893555,Topup Mama,"Kilimani, Nairobi, Kenya",11.23,2022-01-28T20:43:25.000Z,2022-01-28T20:44:13.000Z,2022-01-29T10:00:00.000Z,0,65,25,0,-,-,High retention
8153,10735332,COMPLETED,1,3530,3250,3250,3530,5010.00,5490,-,-,-,-,0,CASH,-,-,0,KSh,3823450,893555,Topup Mama,"Kilimani, Nairobi, Kenya",20.09,2022-01-20T10:56:24.000Z,2022-01-20T14:00:00.000Z,2022-01-21T09:00:00.000Z,0,480,54,0,-,-,High retention
2961,11073242,COMPLETED,1,65,58,58,65,8653.00,8828,-,-,-,-,0,CASH,-,-,0,KSh,4482557,893555,Topup Mama,"Kilimani, Nairobi, Kenya",21.53,2022-02-06T23:17:12.000Z,2022-02-06T23:18:09.000Z,2022-02-07T08:00:00.000Z,0,175,88,0,-,-,Medium retention
4380,10988241,COMPLETED,1,226,205,205,226,9251.00,9351,-,-,-,-,0,CASH,-,-,0,KSh,3943529,893555,Topup Mama,"Kilimani, Nairobi, Kenya",6.41,2022-02-02T16:36:24.000Z,2022-02-02T16:34:07.000Z,2022-02-03T08:00:00.000Z,0,100,93,0,-,-,High retention
11589,10460600,COMPLETED,1,200,190,190,200,4359.00,4359,-,-,-,-,0,CASH,-,-,0,KSh,4797269,893555,Topup Mama,"Kilimani, Nairobi, Kenya",11.11,2022-01-05T16:13:06.000Z,2022-01-05T16:13:49.000Z,2022-01-06T08:00:00.000Z,0,-,43,0,-,-,Low retention

In [1158]:
ss.fit(mcdf)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [1159]:
mcdf_trans = ss.transform(mcdf)
mcdf_trans

array([[-1.7317223 ,  0.        , -0.13690859, ...,  0.        ,
         0.        , -0.94905028],
       [-1.73106523,  0.        , -0.13690859, ...,  0.        ,
         0.        , -0.94905028],
       [-1.73040815,  0.        , -0.13690859, ...,  0.        ,
         0.        , -0.94905028],
       ...,
       [ 1.71660957,  0.        , -0.13690859, ...,  0.        ,
         0.        ,  1.0608232 ],
       [ 1.72318032,  0.        , -0.13690859, ...,  0.        ,
         0.        , -0.94905028],
       [ 1.72843692,  0.        , -0.13690859, ...,  0.        ,
         0.        , -0.94905028]])

In [1160]:
pca = PCA(n_components=2)

In [1161]:
pca.fit(mcdf_trans)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [1162]:
trans_pca = pca.transform(mcdf_trans)
trans_pca

array([[-2.4969165 , -0.74496493],
       [-2.49599086, -0.74497235],
       [-2.49506521, -0.74497976],
       ...,
       [ 2.49903298,  0.62896439],
       [ 2.36965742, -0.78393034],
       [ 2.37706258, -0.78398963]])

In [1163]:
pd_trans_pca = pd.DataFrame(trans_pca)

In [1164]:
clusterer_final = KMeans(n_clusters=2, random_state=0).fit(pd_trans_pca)
customer_processed_plot = pd.DataFrame(pd_trans_pca) #to use pandas methods
## add a column with the predictions
customer_processed_plot['KMeans_cluster'] = clusterer_final.labels_
#from sklearn.preprocessing import LabelEncoder
#le = LabelEncoder()
customer_processed_plot['results']= le.fit_transform(customer_processed_plot['KMeans_cluster'].values)

C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float

C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float

In [1165]:
customer_processed_plot.sample(5)

             0         1  KMeans_cluster  results
1650 -0.866719  0.281879               1        1
1059 -1.515734 -0.752821               1        1
2238 -0.839791  4.530479               1        1
3989  2.156759 -0.782226               0        0
2216 -0.436896 -0.761459               1        1

In [1166]:
customer_processed_plot.shape

(5272, 4)

In [1167]:
merged_customers['CustomerClassification'] = customer_processed_plot['KMeans_cluster']

In [1168]:
merged_customers['CustomerClassification'].value_counts()

1    3633
0    1639
Name: CustomerClassification, dtype: int64

In [1169]:
merged_customers['CustomerClassification'] = merged_customers['CustomerClassification'].replace({
                                                                0: 'Loyal customer',
                                                                1: 'Rare Customer'})

In [1243]:
merged_customers.sample(5)

,Customer ID,Last Used Platform,Is Blocked,Created At,Language,Outstanding Amount,Loyalty Points,CustomerClassification
1843,4048725,WEB,0,2021-08-03T10:56:19.000Z,en,0,3,Rare Customer
3023,4198537,WEB,0,2021-09-01T13:00:23.000Z,en,0,1154,Loyal customer
1254,3994581,WEB,0,2021-07-24T09:37:26.000Z,en,0,0,Rare Customer
2884,4138817,WEB,0,2021-08-20T17:02:29.000Z,en,0,92,Loyal customer
2783,4131658,WEB,0,2021-08-19T07:42:35.000Z,en,0,3,Loyal customer

In [1171]:
ss.fit(mddf)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [1172]:
mddf_trans = ss.transform(mddf)
mddf_trans

array([[ 1.4605464 , -0.75954442,  1.46058224, ..., -0.02364665,
        -0.66077095, -0.66173128],
       [ 1.4605464 , -0.75954442,  1.46058224, ..., -0.02364665,
        -0.66077095, -0.66173128],
       [ 1.46041929, -0.75967188,  1.46045513, ..., -0.02364665,
        -0.66077095, -0.66173128],
       ...,
       [-1.43831002, -0.34835829, -1.43826934, ..., -0.02364665,
        -0.66077095, -0.66173128],
       [-1.44047088, -0.35052511, -1.44043029, ..., -0.02364665,
        -0.66077095, -0.66173128],
       [-1.44059799, -0.35052511, -1.44043029, ..., -0.02364665,
        -0.66077095, -0.66173128]])

In [1173]:
f_merged_orders.sample(3)

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Transaction Status,Promo Code,Customer ID,Merchant ID,Store Name,Pickup Address,Description,Distance (in km),Order Time,Pickup Time,Delivery Time,Ratings,Reviews,Merchant Earning,Commission Amount,Commission Payout Status,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Cancellation Reason,Flat Discount,Checkout Template Name,Checkout Template Value
2764,11086062,COMPLETED,Fruits & Vegetables,KKMFV0801,NaN,NaN,1,160,135,135,160,21179.28,20862,-,-,-,-,0,Pay Later,-,-,0,KSh,NaN,NaN,4689177,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 6.00am in the morning,5.03,2022-02-07T19:12:49.000Z,2022-02-07T19:10:28.000Z,2022-02-08T08:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,98,208,NaN,0,-,-
1527,11154227,CANCELLED,NaN,KKBE0117,NaN,NaN,1,199,179.5,179.5,199,43574.00,43574,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4401027,893555,Topup Mama,"Kilimani, Nairobi, Kenya",NaN,9.72,2022-02-11T19:15:07.000Z,2022-02-11T19:16:03.000Z,2022-02-12T08:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
5920,10878240,COMPLETED,Flour & Sugar,KKFS0702,NaN,NaN,2,263,247,494,526,21306.00,22332,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4510535,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Deliver tomorrow morning by 6.00a.m,5.14,2022-01-27T20:26:50.000Z,2022-01-27T20:27:38.000Z,2022-01-28T08:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,1026,223,NaN,0,-,-

In [1174]:
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.metrics.pairwise import cosine_similarity

In [1175]:
train, test = train_test_split(f_merged_orders, test_size = 0.1, shuffle = False)

In [1176]:
test['Category name'] = range(0, test.shape[0])
test = test.set_index('Category name')
test.shape

C:\Users\mauri\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(1368, 47)

In [1177]:
test.head()

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Transaction Status,Promo Code,Customer ID,Merchant ID,Store Name,Pickup Address,Description,Distance (in km),Order Time,Pickup Time,Delivery Time,Ratings,Reviews,Merchant Earning,Commission Amount,Commission Payout Status,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Cancellation Reason,Flat Discount,Checkout Template Name,Checkout Template Value
Category name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,11243218,COMPLETED,Flour & Sugar,KNFS1101,NaN,NaN,2,22700,21900,43800,45400,461400.0,462400,-,-,-,-,0,CASH,-,-,0,₦,NaN,NaN,4143220,1048159,Topup Mama,-,NaN,11995.87,2022-02-16T08:00:25.000Z,2022-02-16T08:01:12.000Z,2022-02-16T11:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,NaN,200,924,NaN,0,-,-
1,11243207,COMPLETED,Flour & Sugar,KNFS1101,NaN,NaN,2,22700,21900,43800,45400,45725.0,45725,-,-,-,-,0,CASH,-,-,0,₦,NaN,NaN,4606422,1048159,Topup Mama,-,NaN,11995.84,2022-02-16T07:59:36.000Z,2022-02-16T08:00:35.000Z,2022-02-16T13:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,NaN,-,91,NaN,0,-,-
2,11243207,COMPLETED,Spreads,KNSP2001,NaN,NaN,1,325,300,300,325,45725.0,45725,-,-,-,-,0,CASH,-,-,0,₦,NaN,NaN,4606422,1048159,Topup Mama,-,NaN,11995.84,2022-02-16T07:59:36.000Z,2022-02-16T08:00:35.000Z,2022-02-16T13:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,NaN,-,91,NaN,0,-,-
3,11243072,COMPLETED,Flour & Sugar,KNFS0001,NaN,NaN,3,20850,20370,61110,62550,62875.0,62875,-,-,-,-,0,CASH,-,-,0,₦,NaN,NaN,4154054,1048159,Topup Mama,-,NaN,11994.94,2022-02-16T07:49:23.000Z,2022-02-16T07:46:55.000Z,2022-02-16T11:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,NaN,-,125,NaN,0,-,-
4,11243072,COMPLETED,Spreads,KNSP2001,NaN,NaN,1,325,300,300,325,62875.0,62875,-,-,-,-,0,CASH,-,-,0,₦,NaN,NaN,4154054,1048159,Topup Mama,-,NaN,11994.94,2022-02-16T07:49:23.000Z,2022-02-16T07:46:55.000Z,2022-02-16T11:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,NaN,-,125,NaN,0,-,-

In [1178]:
columns = ['Order ID', 'SKU', 'Unit Price', 'Cost Price', 'Flat Discount']

In [1179]:
test[columns].tail(10)

               Order ID       SKU  Unit Price Cost Price  Flat Discount
Category name
1358           10432736  KNPT0001         550        500              0
1359           10432101  KNFS0001       21050      20420              0
1360           10423951  KNFS0001       21050      20420              0
1361           10422797  KNSP1701       19450      17500              0
1362           10422797  KNBE0003        6600       6000              0
1363           10422797  KNBE0002        6600       6000              0
1364           10422797  KNBE0001        6600       6000              0
1365           10422634  KNFS0001       21050      20420              0
1366           10422279  KNFS0001       21050      20420              0
1367           10416692  KNFS0001       21050      20420              0

In [1180]:
def obtain_important_features(data):
    important_features = []
    for index, row in data.iterrows():
        new_column = re.sub('[^A-Za-z0-9]+', ' ', row['Order ID'])\
        +' ' + re.sub('[^A-Za-z0-9]+', ' ', row['SKU'])\
        +' ' + re.sub('[^A-Za-z0-9]+', ' ', row['Unit Price'])\
        +' ' + re.sub('[^A-Za-z0-9]+', ' ', row['Cost Price'])
        important_features.append(new_column.lower())
    return important_features

def obtain_important_features(data):
    important_features = []
    for index, row in data.iterrows():
        new_column = re.sub('[^A-Za-z0-9]+', ' ', row['Order ID'])\
        +' ' + re.sub('[^A-Za-z0-9]+', ' ', row['SKU'])\
        +' ' + re.sub('[^A-Za-z0-9]+', ' ', row['Unit Price'])\
        +' ' + re.sub('[^A-Za-z0-9]+', ' ', row['Cost Price'])\
        +' ' +str(row['Flat Discount'])
        important_features.append(new_column.lower())
    return important_features

test['important_features'] = obtain_important_features(test)

In [1181]:
#Checking missing values
if test[rec_cols].isnull().values.any():
    test = test.dropna()
test[rec_cols].isnull().values.any()

False

In [1182]:
cvt = CountVectorizer().fit_transform(test['Category Name'])

In [1183]:
cs = cosine_similarity(cvt)
print(cs)

[[1. 1. 0. ... 1. 1. 1.]
 [1. 1. 0. ... 1. 1. 1.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [1. 1. 0. ... 1. 1. 1.]
 [1. 1. 0. ... 1. 1. 1.]
 [1. 1. 0. ... 1. 1. 1.]]

C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float

In [1184]:
cs.shape

(1368, 1368)

In [1185]:
recommendation_test = 'Cleaning & Hygiene'
prod_id = test[test['Category Name'] == recommendation_test].index.values[0]
prod_id

96

In [1191]:
f_merged_orders.head()

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Transaction Status,Promo Code,Customer ID,Merchant ID,Store Name,Pickup Address,Description,Distance (in km),Order Time,Pickup Time,Delivery Time,Ratings,Reviews,Merchant Earning,Commission Amount,Commission Payout Status,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Cancellation Reason,Flat Discount,Checkout Template Name,Checkout Template Value
0,11265015,ORDERED,Cooking Fat & Oil,KKCO0487,NaN,NaN,1,4400,4250,4250,4400,4350.0,4400,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,3755460,893555,Topup Mama,"Kilimani, Nairobi, Kenya",NaN,10.90,2022-02-17T16:36:27.000Z,2022-02-17T16:37:16.000Z,2022-02-18T08:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,50,-,NaN,0,-,-
1,11264651,ORDERED,Cleaning & Hygiene,KKPT280100,NaN,NaN,1,180,130,130,180,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
2,11264651,ORDERED,Flour & Sugar,KKFS0702,NaN,NaN,6,263,247,1482,1578,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
3,11264651,ORDERED,Salt & Seasoning,KKSS0002,NaN,NaN,10,65,58,580,650,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-
4,11264651,ORDERED,Beverages,KKBE0105,NaN,NaN,1,249,208.5,208.5,249,7255.0,7255,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4541187,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Urgently deliver by 9.30am in the morning,6.99,2022-02-17T16:19:05.000Z,2022-02-17T16:19:53.000Z,2022-02-18T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,-,NaN,0,-,-

In [1194]:
moen = f_merged_orders.apply(lambda col: le.fit_transform(col.astype(str)),
                  axis = 0, result_type = 'expand')

In [1196]:
moen.head()

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Transaction Status,Promo Code,Customer ID,Merchant ID,Store Name,Pickup Address,Description,Distance (in km),Order Time,Pickup Time,Delivery Time,Ratings,Reviews,Merchant Earning,Commission Amount,Commission Payout Status,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Cancellation Reason,Flat Discount,Checkout Template Name,Checkout Template Value
0,4394,3,3,29,0,0,0,173,173,542,500,1522,1518,0,0,0,0,0,0,0,0,0,0,0,0,42,1,0,1,410,24,4388,3827,305,1,3,0,0,0,0,0,271,0,0,0,0,0
1,4393,3,2,129,0,0,0,51,27,103,188,2282,2272,0,0,0,0,0,0,0,0,0,0,0,0,454,1,0,1,371,390,4387,3826,306,1,3,0,0,0,0,0,0,0,0,0,0,0
2,4393,3,4,55,0,0,32,114,115,142,143,2282,2272,0,0,0,0,0,0,0,0,0,0,0,0,454,1,0,1,371,390,4387,3826,306,1,3,0,0,0,0,0,0,0,0,0,0,0
3,4393,3,10,135,0,0,1,209,207,652,625,2282,2272,0,0,0,0,0,0,0,0,0,0,0,0,454,1,0,1,371,390,4387,3826,306,1,3,0,0,0,0,0,0,0,0,0,0,0
4,4393,3,1,1,0,0,0,108,94,282,305,2282,2272,0,0,0,0,0,0,0,0,0,0,0,0,454,1,0,1,371,390,4387,3826,306,1,3,0,0,0,0,0,0,0,0,0,0,0

In [1206]:
Xmoen = moen.drop('Unit Price', axis = 1)
ymoen = moen['Unit Price']

In [1207]:
Moen_train, Moen_test, moen_train, moen_test = train_test_split(Xmoen, ymoen, test_size=0.3, random_state=0)
Moen_train.shape, moen_train.shape, Moen_test.shape, moen_test.shape

((9569, 46), (9569,), (4102, 46), (4102,))

In [1232]:
from numpy import unique
from numpy import where
from sklearn.mixture import GaussianMixture

# define the model
gaussian_model = GaussianMixture(n_components=3)

# train the model
gaussian_model.fit(moen)

# assign each data point to a cluster
gaussian_result = gaussian_model.predict(moen)

# get all of the unique clusters
gaussian_clusters = unique(gaussian_result)

# plot Gaussian Mixture the clusters
for gaussian_cluster in gaussian_clusters:
    # get data points that fall in this cluster
    index = where(gaussian_result == gaussian_clusters)
    # make the plot
    #pyplot.scatter(moen[index, 0], moen[index, 1])

# show the Gaussian Mixture plot
pyplot.show()

C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:445: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_iter=max_iter, verbose=verbose)
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
C:\Users\mauri\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float

C:\Users\mauri\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

In [1221]:
gaussian_result

array([0, 0, 0, ..., 1, 1, 1], dtype=int64)

In [1222]:
len(gaussian_result)

13671

In [1226]:
gr = pd.DataFrame(gaussian_result)
gr.value_counts()

1    11612
2     1754
0      305
dtype: int64

In [1245]:
gr = gr.replace({0: 'High Revenue',
                 1: 'Standard Revenue',
                 2: 'Low Revenue'})

In [1247]:
f_merged_orders['revenue_standard'] = gr

In [1250]:
f_merged_orders.sample(5)

,Order ID,Order Status,Category Name,SKU,Customization Group,Customization Option,Quantity,Unit Price,Cost Price,Total Cost Price,Total Price,Order Total,Sub Total,Tax,Delivery Charge,Tip,Discount,Remaining Balance,Payment Method,Additional Charge,Taxable Amount,Transaction ID,Currency Symbol,Transaction Status,Promo Code,Customer ID,Merchant ID,Store Name,Pickup Address,Description,Distance (in km),Order Time,Pickup Time,Delivery Time,Ratings,Reviews,Merchant Earning,Commission Amount,Commission Payout Status,Order Preparation Time,Debt Amount,Redeemed Loyalty Points,Consumed Loyalty Points,Cancellation Reason,Flat Discount,Checkout Template Name,Checkout Template Value,revenue_standard
7428,10804596,COMPLETED,Flour & Sugar,KKFS0222,NaN,NaN,1,1670,1630,1630,1670,3660.0,3725,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4590612,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Deliver before 7am,10.88,2022-01-23T19:00:23.000Z,2022-01-23T19:01:11.000Z,2022-01-24T08:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,65,37,NaN,0,-,-,Standard Revenue
168,11253143,COMPLETED,Fruits & Vegetables,KKFR2501,NaN,NaN,4,150,90,360,600,16685.0,16685,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4696213,893555,Topup Mama,"Kilimani, Nairobi, Kenya",NaN,5.03,2022-02-16T20:46:12.000Z,2022-02-16T20:47:12.000Z,2022-02-17T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,166,NaN,0,-,-,Low Revenue
1173,11195676,COMPLETED,Cooking Fat & Oil,KKCO0918,NaN,NaN,1,1940,1900,1900,1940,24230.0,24230,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4681602,893555,Topup Mama,"Kilimani, Nairobi, Kenya",NaN,6.70,2022-02-13T19:02:19.000Z,2022-02-13T19:03:05.000Z,2022-02-14T08:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,242,NaN,0,-,-,Standard Revenue
10309,10578547,COMPLETED,Flour & Sugar,KKFS0702,NaN,NaN,1,263,247,247,263,2253.0,2253,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4547678,893555,Topup Mama,"Kilimani, Nairobi, Kenya",Deliver by 6am,15.11,2022-01-11T20:20:19.000Z,2022-01-11T20:19:54.000Z,2022-01-12T08:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,-,22,NaN,0,-,-,Standard Revenue
8102,10741778,COMPLETED,Flour & Sugar,KKFS0222,NaN,NaN,1,1670,1630,1630,1670,22900.0,23040,-,-,-,-,0,CASH,-,-,0,KSh,NaN,NaN,4313129,893555,Topup Mama,"Kilimani, Nairobi, Kenya",NaN,18.29,2022-01-20T18:06:24.000Z,2022-01-20T18:07:12.000Z,2022-01-21T09:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0,-,140,230,NaN,0,-,-,Standard Revenue

col_sim = ['a', 'b', 'c', 'd', 'e', 'score']
cos_sim = cosine_similarity(cvt)
cs = pd.DataFrame(cos_sim, columns = col_sim)
cs

In [1186]:
cs.shape

(1368, 1368)

In [1187]:
cs['score'].value_counts()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
scores = list(enumerate(cos_sim['Category Name']))

In [ ]:
def obtain_important_features(data):
    important_features = []
    for index.row in data.iterrows():
        new_column = re.sub('[^A-Za-z0-9]+', ' ', row['Order ID'])\
        +' ' + re.sub('[^A-Za-z0-9]+', ' ', row['SKU'])\
        +' ' + re.sub('[^A-Za-z0-9]+', ' ', row['Unit Price'])\
        +' ' + re.sub('[^A-Za-z0-9]+', ' ', row['Cost Price'])\
        +' ' + re.sub('[^A-Za-z0-9]+', ' ', row['Currency Symbol'])\
        +' ' +str(row['Flat Discount'])
        important_features.append(new_column.lower())
    return important_features

In [ ]:
test['important_features'] = obtain_important_features(test)

In [ ]:
test.head()